<div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2>Love Simple</h2>
        <p class="logo"><span>{{ site.subtitle }}</span></p>
        <div class="da-img"></div>
      </div>



       <div class="da-slide">
        <h2>Blog</h2>
         <p class="logo"><span>記錄我的所見所聞 with octpress</span></p>
         <a href="/blog/" class="da-link">Read more</a>
        <div class="da-img"></div>
      </div>

      <div class="da-slide">
        <h2>Slides</h2>
        <p class="logo"><span>線上簡報 with Deck.js</span></p>
        <a href="/slides/" class="da-link">Read more</a>
        <div class="da-img"></div>
      </div>

      <div class="da-slide">
        <h2>nodejs+java 簡報</h2>
        <p class="logo"><span>比較 node 與 java 的優缺點，以及結合範例</span></p>
        <a href="/slides/java-with-node.html" class="da-link">Read more</a>
        <div class="da-img"></div>
      </div>

       <div class="da-slide">
        <h2>Web Site Theme</h2>
        <p class="logo"><span>佈景使用 {warp}bootstrap [ID=Magnus]</span></p>
        <div class="da-img"></div>
      </div>


      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>

   
  </div>