#nuget_pkgs {
  .loading { background: inline-image('nuget_32_gray.png') no-repeat center .3em;
    color: darken($sidebar-bg, 18);
    text-shadow: $main-bg 0 1px;
    text-align: center;
    padding: 2.5em 0 .5em;
    &.error {
      background: inline-image('nuget_32_gray_fail.png') no-repeat center .5em;
    }
  }

  .nuget-link {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4em;
  }

  .nuget-dl {
    float: right;
    padding: 0 0 .1em 1em;
    position: relative;
    right: -.9em;
    top: -2.6em;
    padding-right: 1em;
    font-size: .7em;
  }
}
