
<div class="post-content">


  <hr>
  {% unless page.no_header %}
  <div class="post-title">
    {% include post/title.html %}
  </div>
  {% endunless %}

  <hr>


  <div class="post-description">
    {{ content }}
  </div>


  {% if index %}

  <hr>
  <div class="post-meta">
    {% unless page.meta == false %}
    <span>{% include post/date.html %}{{ time }}</span>

    <span><i class="mini-ico-bookmark"></i><a rel="bookmark" href="{{ permalink }}">{{ site.permalink_label }}</a></span>
    {% endunless %}

    {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
    <span><i class="mini-ico-comment"></i><a class="comments-link" href="{% if index %}{{ permalink }}{% endif %}#disqus_thread">View comments &raquo;</a></span>
    {% endif %}

    {% if excerpted != 'false' %}
    <span><a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a></span>
    {% endif %}

  </div>

  {% endif %}



</div>